<div class="track-accounts-search-container">
  <div class="track-accounts-search-column">
    <header class="track-accounts-search-header">
      <h2></h2>
      <h2>Search by Account</h2>
    </header>
  </div>
  <div class="track-accounts-search-column track-accounts-search-column-items-end">
    <button class="track-accounts-search-button-search" (click)="search($event)"><mat-icon>search</mat-icon></button>
  </div>
</div>
<div class="track-accounts-search-container">
  <div class="track-accounts-search-column">
    <div class="track-accounts-search-select-container">
      <mat-form-field>
        <!--<mat-label>Account</mat-label>-->
        <mat-select panelClass="track-accounts-search-select-panel" [(value)]="selectedAccount" (selectionChange)="loadFleets()">
          <mat-option value="none">Select Account</mat-option>
          <mat-option *ngFor="let account of accounts" [value]="account.account">
            {{account.account}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="track-accounts-search-container">
  <div class="track-accounts-search-column">
    <div class="track-accounts-search-select-container">
      <mat-form-field>
        <!--<mat-label>Fleet</mat-label>-->
        <mat-select panelClass="track-accounts-search-select-panel"
                    [(value)]="selectedFleet"
                    (selectionChange)="loadRoutes()"
                    [disabled]="disableFleet">
          <mat-option value="none">Select Fleet</mat-option>
          <mat-option *ngFor="let fleet of fleets" [value]="fleet.id">
            {{fleet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="track-accounts-search-container">
  <div class="track-accounts-search-column">
    <div class="track-accounts-search-select-container">
      <mat-form-field>
        <!--<mat-label>Route</mat-label>-->
        <mat-select panelClass="track-accounts-search-select-panel"
                    [(value)]="selectedRoute"
                    [disabled]="disableRoute">
          <mat-option value="none">Select Route</mat-option>
          <mat-option *ngFor="let route of routes" [value]="route.id">
            {{route.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
