.successful-registration-container {
  background: #345;
  border: 3px solid rgba(100, 200, 250, 0.5);
  border-radius: 100%;
}

mat-dialog-title {
  color: #ffff;
}

mat-dialog-content {
  color: #ffff;
}

mat-button {
  color: #ffff;
}
